n8n-workflows/website-leads.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-leads-vps",
        "options": {}
      },
      "id": "678e1b20-7f31-4e7a-9a00-5342157a912c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineAcrossColumns",
          "value": {
            "nombre": "={{ $json.body.nombre }}",
            "telefono": "={{ $json.body.telefono }}",
            "email": "={{ $json.body.email }}",
            "dolor": "={{ $json.body.dolor }}"
          },
          "matchingColumns": []
        }
      },
      "id": "f2a1b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Postgres (Insert)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [620, 300],
      "credentials": {
        "postgresDb": {
          "id": "TU_CREDENTIAL_POSTGRES_ID",
          "name": "Postgres VPS Local"
        }
      }
    },
    {
      "parameters": {
        "chatId": "TU_CHAT_ID",
        "text": "=🔔 *¡NUEVO LEAD EN TU VPS!*\n\n👤 *Nombre:* {{ $node[\"Webhook\"].json[\"body\"][\"nombre\"] }}\n📧 *Email:* {{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}\n📞 *Tel:* {{ $node[\"Webhook\"].json[\"body\"][\"telefono\"] }}\n💬 *Dolor Principal:* {{ $node[\"Webhook\"].json[\"body\"][\"dolor\"] }}\n\n🗄️ _Guardado correctamente en Postgres._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Notificación Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [840, 300],
      "credentials": {
        "telegramApi": {
          "id": "TU_CREDENTIAL_TELEGRAM_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres (Insert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Insert)": {
      "main": [
        [
          {
            "node": "Notificación Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificación Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
