n8n_workflows/flujo_ig_final.json
{
  "name": "IA Viral Automatizame Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Genera el post de alto impacto para hoy.\n[CAPTION]\n(texto)\n[IMAGE_PROMPT]\n(prompt en ingles)",
        "options": {
          "systemMessage": "Eres el Director Creativo de Automatizame.uy"
        }
      },
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list"
        },
        "prompt": "={{ $json.output.split('[IMAGE_PROMPT]')[1].trim() }}"
      },
      "name": "ImageGen",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GjNcpfBPkLl05TYn",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyy-MM-dd_HH-mm') }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KMCXu1SjTL0d17o6U6Rydikn3YkQWlrS",
          "mode": "list"
        }
      },
      "name": "Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        850,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kAWoxsZ2lzLkD2It",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile"
      },
      "name": "Cloudinary",
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "cloudinaryApi": {
          "id": "2O1MemHlGqL0VBIA",
          "name": "Cloudinary"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet caption = \"\";\ntry {\n  caption = $node[\"Agent\"].json.output.split('[CAPTION]')[1].split('[IMAGE_PROMPT]')[0].trim();\n} catch(e) {\n  caption = \"Automatizamos tu futuro. 🦾\";\n}\nreturn [{ json: { ...item, caption_final: caption } }];"
      },
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1301491979",
        "photo": "={{ $json.secure_url }}",
        "caption": "=Post listo.\n\nTEXTO:\n{{ $json.caption_final }}\n\nSe publica en 5 min. Toca el botón para cancelar.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "inline_keyboard": [
            [
              {
                "text": "❌ Cancelar",
                "url": "={{ $execution.resumeUrl }}?action=no"
              }
            ]
          ]
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "EMkuSuIvQQU1R3I0",
          "name": "asistente"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": 5,
        "unit": "minutes"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "node": "17841440704562352",
        "imageUrl": "={{ $node[\"Format\"].json.secure_url }}",
        "caption": "={{ $node[\"Format\"].json.caption_final }}",
        "additionalFields": {}
      },
      "name": "Instagram",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "instagramApi": {
          "id": "isXIWWDyIfPfKX0w",
          "name": "Instagram"
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "ImageGen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImageGen": {
      "main": [
        [
          {
            "node": "Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive": {
      "main": [
        [
          {
            "node": "Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
