n8n_workflows/receptor_local_meli_v3_FIX.json
{
  "name": "🏠 Captación MeLi - Receptor Local (v3 FIX)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hunter-local-meli-v1",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "📥 Webhook Hunter Local",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "webhookId": "hunter-local-meli-v1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    titulo: item.titulo || 'Sin título',\n    precio: parseFloat(item.precio) || 0,\n    moneda: item.moneda || 'USD',\n    url_original: item.link,\n    barrio: item.barrio || '',\n    imagen_principal: item.fotos && item.fotos.length > 0 ? item.fotos[0] : '',\n    imagenes: JSON.stringify(item.fotos || []),\n    descripcion: item.descripcion || '',\n    tipo_operacion: item.tipo_operacion || 'alquiler',\n    es_dueno_directo: !!item.es_dueno_directo,\n    fuente: 'meli_hunter_local_pro'\n  }\n}];"
      },
      "name": "Limpiar Datos",
      "type": "n8n-nodes-base.code",
      "position": [
        460,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO propiedades_inmobiliaria (titulo, precio, moneda, url_original, barrio, imagen_principal, imagenes, descripcion, tipo_operacion, es_dueno_directo, fuente)\nVALUES (\n  '{{ $node[\"Limpiar Datos\"].json.titulo }}', \n  {{ $node[\"Limpiar Datos\"].json.precio }}, \n  '{{ $node[\"Limpiar Datos\"].json.moneda }}', \n  '{{ $node[\"Limpiar Datos\"].json.url_original }}', \n  '{{ $node[\"Limpiar Datos\"].json.barrio }}', \n  '{{ $node[\"Limpiar Datos\"].json.imagen_principal }}', \n  '{{ $node[\"Limpiar Datos\"].json.imagenes }}', \n  '{{ $node[\"Limpiar Datos\"].json.descripcion.replace(/'/g, \"''\") }}', \n  '{{ $node[\"Limpiar Datos\"].json.tipo_operacion }}', \n  {{ $node[\"Limpiar Datos\"].json.es_dueno_directo }}, \n  '{{ $node[\"Limpiar Datos\"].json.fuente }}'\n)\nON CONFLICT (url_original) DO UPDATE SET \n  precio = EXCLUDED.precio, \n  imagenes = EXCLUDED.imagenes, \n  descripcion = EXCLUDED.descripcion, \n  es_dueno_directo = EXCLUDED.es_dueno_directo,\n  updated_at = NOW();"
      },
      "name": "💾 Guardar en Destino Abril",
      "type": "n8n-nodes-base.postgres",
      "position": [
        680,
        300
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "mQ2D5EMzZtnxUQup",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1301491979",
        "text": "= {{ $node[\"Limpiar Datos\"].json.es_dueno_directo ? \"🥷 ¡ALERTA DUEÑO DIRECTO! 🔥\" : \"🏠 NUEVA PROPIEDAD DETECTADA\" }}\n\n🏷️ {{ $node[\"Limpiar Datos\"].json.titulo }}\n💰 {{ $node[\"Limpiar Datos\"].json.moneda }} {{ $node[\"Limpiar Datos\"].json.precio }}\n📍 {{ $node[\"Limpiar Datos\"].json.barrio }}\n──────────────────\n🔗 Link: {{ $node[\"Limpiar Datos\"].json.url_original }}\n\n📸 {{ JSON.parse($node[\"Limpiar Datos\"].json.imagenes).length }} fotos capturadas."
      },
      "name": "📱 Notificar a Seba",
      "type": "n8n-nodes-base.telegram",
      "position": [
        900,
        300
      ],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "EMkuSuIvQQU1R3I0",
          "name": "asistente"
        }
      }
    }
  ],
  "connections": {
    "📥 Webhook Hunter Local": {
      "main": [
        [
          {
            "node": "Limpiar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Datos": {
      "main": [
        [
          {
            "node": "💾 Guardar en Destino Abril",
            "type": "main",
            "index": 0
          },
          {
            "node": "📱 Notificar a Seba",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
