n8n_workflows/workflow_aria_v2_fijado.json
{
  "updatedAt": "2026-04-03T03:15:38.764Z",
  "createdAt": "2026-04-02T22:54:13.962Z",
  "id": "8Mv1OO1JTWJOHFMa",
  "name": "📩 Instagram DM Bot - ARIA V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dm-webhook-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ig-wh-post",
      "name": "📥 Instagram Webhook",
      "position": [
        -704,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "ig-webhook-v2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nlet senderPsid = '';\nlet messageText = '';\nlet messageId = '';\nlet timestamp = Date.now().toString();\ntry {\n  const entry = body.entry?.[0];\n  if (entry?.messaging?.[0]) {\n    const msg = entry.messaging[0];\n    if (msg.message?.is_echo || msg.delivery || msg.read) {\n      return [{ json: { skip: true, reason: 'echo_or_system' } }];\n    }\n    senderPsid = msg.sender?.id || '';\n    messageText = msg.message?.text || '';\n    messageId = msg.message?.mid || '';\n    timestamp = msg.timestamp || timestamp;\n  }\n  if (!messageText && entry?.changes?.[0]) {\n    const change = entry.changes[0];\n    const value = change.value || {};\n    senderPsid = value.from?.id || value.sender?.id || '';\n    messageText = value.message?.text || value.text || '';\n    messageId = value.message?.mid || value.id || '';\n    timestamp = value.timestamp || timestamp;\n  }\n} catch (e) {\n  senderPsid = body.sender_id || body.from || '';\n  messageText = body.message || body.text || '';\n}\nif (!senderPsid || !messageText) {\n  return [{ json: { skip: true, reason: 'no_valid_message' } }];\n}\nreturn [{ json: { skip: false, sender_psid: senderPsid, message_text: messageText, message_id: messageId, timestamp: timestamp, source: 'instagram_dm' } }];"
      },
      "id": "ig-extract",
      "name": "🔍 Extraer Mensaje",
      "position": [
        -400,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "operator": {
                "operation": "notEquals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": false
          }
        },
        "options": {}
      },
      "id": "ig-valid",
      "name": "⚡ ¿Mensaje Válido?",
      "position": [
        -96,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ignored\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ig-ignore",
      "name": "⏭️ Ignorar (200 OK)",
      "position": [
        -96,
        704
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text }}",
        "options": {
          "systemMessage": "Eres ARIA, Asistente de Automatizame.uy. Trabajas con Sebastian Agradeno, fundador.\nRespondes DMs de Instagram de forma natural y profesional.\n\nREGLAS:\n1. NUNCA reveles que eres IA, bot o similar.\n2. Si preguntan si eres bot: Soy parte del equipo de Automatizame. En que te puedo ayudar?\n3. NUNCA des precios. Di: Cada proyecto es unico, Seba arma propuestas en una llamada de 30 min.\n4. NUNCA inventes datos.\n5. NO des el link de Calendly sin entender el problema primero.\n\nDATOS:\nWeb: https://automatizameuy.com\nCalendly: https://calendly.com/sebaagradeno/30min\nIG: @automatizame_uy\nUbicacion: Uruguay, atendemos LATAM y Espana\n\nSERVICIOS:\n- Automatizacion con n8n auto-hospedado\n- CRMs a medida\n- Agentes de IA para ventas y atencion\n- Contenidos con IA\n- Infraestructura Neuronal Integral\n\nESTRATEGIA:\n1. Saluda calido\n2. Pregunta sobre su negocio y problema\n3. Cuantifica lo que pierden\n4. Describe brevemente la solucion\n5. Invita a https://automatizameuy.com/ y a agendar: https://calendly.com/sebaagradeno/30min\n\nESTILO: Cercano, tuteo, mensajes CORTOS (3-4 lineas max), 1-2 emojis, solo texto plano."
        }
      },
      "id": "ig-aria",
      "name": "🧠 ARIA - Ventas IA",
      "position": [
        208,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 400,
          "temperature": 0.6
        }
      },
      "id": "ig-groq",
      "name": "Groq (Llama-3.3 70B)",
      "position": [
        208,
        656
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "qr6uCVFF8OqWm4dd",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=ig_{{ $('🔍 Extraer Mensaje').item.json.sender_psid }}",
        "contextWindowLength": 20
      },
      "id": "ig-memory",
      "name": "💾 Memoria por Usuario",
      "position": [
        352,
        656
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "const senderPsid = $('🔍 Extraer Mensaje').first().json.sender_psid;\nconst aiResponse = $input.first().json.output || $input.first().json.text || 'Disculpa, hubo un problema.';\nlet cleanResponse = aiResponse.replace(/^(assistant|aria):\\s*/gi, '').trim();\nif (cleanResponse.length > 1000) cleanResponse = cleanResponse.substring(0, 997) + '...';\nconst msgLower = ($('🔍 Extraer Mensaje').first().json.message_text || '').toLowerCase();\nlet temperature = 'frio';\nif (msgLower.includes('agendar') || msgLower.includes('reunion')) temperature = 'listo';\nelse if (msgLower.includes('precio') || msgLower.includes('presupuesto')) temperature = 'caliente';\nelse if (msgLower.includes('necesito') || msgLower.includes('ayuda')) temperature = 'tibio';\nreturn [{ json: { sender_psid: senderPsid, response_text: cleanResponse, original_message: $('🔍 Extraer Mensaje').first().json.message_text, temperature: temperature, is_hot: (temperature === 'caliente' || temperature === 'listo'), timestamp: new Date().toISOString() } }];"
      },
      "id": "ig-process",
      "name": "⚙️ Procesar + Clasificar",
      "position": [
        512,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAPqY1pS9QEBRD9M5QUDujQzOBARfHLkbdJ2oLjKp3oES8OnYI1COCU5fJhIphEHss6dYGkYuPq0ZA3EPZAl2jMu9jXXsfrZCnAXJg3DBNds4VCLhl2102LI8gTXid2tjkZC86UbpmVybPlvRns3TzmfO7UjXv2PXpxAWrbSBQkIzlVTOIP9vskXzFfzX8FmxIA3K3Y89eUiVCXJPXlqrBQ0rkMohclwxDT1TBaBKmsoQj6ALr5Oaz85nRvOP61XQZCVY3CQbdtkz7ihTnkJ5yHibZAQ9LZAsOwMQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.sender_psid }}\" },\n  \"message\": { \"text\": {{ JSON.stringify($json.response_text) }} }\n}",
        "options": {}
      },
      "id": "ig-send",
      "name": "📤 Responder DM Instagram",
      "position": [
        752,
        400
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ig_leads (instagram_psid, last_message, ai_response, temperature, source, created_at, updated_at)\nVALUES (\n  '{{ $json.sender_psid }}',\n  '{{ $json.original_message }}',\n  '{{ $json.response_text }}',\n  '{{ $json.temperature }}',\n  'instagram_dm', NOW(), NOW()\n)\nON CONFLICT (instagram_psid)\nDO UPDATE SET\n  last_message = EXCLUDED.last_message,\n  ai_response = EXCLUDED.ai_response,\n  temperature = EXCLUDED.temperature,\n  conversation_count = ig_leads.conversation_count + 1,\n  updated_at = NOW();",
        "options": {}
      },
      "id": "ig-save",
      "name": "💾 Guardar/Actualizar Lead",
      "position": [
        1008,
        400
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "rfMpsEPaVls9DDGX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "hot-check",
              "leftValue": "={{ $json.is_hot }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {}
        },
        "options": {}
      },
      "id": "ig-hot",
      "name": "🔥 ¿Lead Caliente?",
      "position": [
        1264,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "1301491979",
        "text": "=LEAD CALIENTE IG!\nDijo: {{ $json.original_message }}\nARIA: {{ $json.response_text.substring(0, 200) }}\nTemp: {{ $json.temperature }}",
        "additionalFields": {}
      },
      "id": "ig-telegram",
      "name": "📱 Alerta Telegram",
      "position": [
        1504,
        304
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "111a89ea-2346-43c7-b046-639331eca1c9",
      "credentials": {
        "telegramApi": {
          "id": "EMkuSuIvQQU1R3I0",
          "name": "automatizameuy"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ig-respond-ok",
      "name": "✅ Responder 200 OK",
      "position": [
        1504,
        560
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "path": "instagram-dm-webhook-v2",
        "options": {},
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        848
      ],
      "id": "96206f5d-fb2f-4ed9-a64f-49c7456f3d8e",
      "name": "Webhook",
      "webhookId": "b02f6557-8f4e-438a-92a0-6390a67cfac7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ .query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-to-webhook-get",
      "name": "Respond to Webhook GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -408,
        848
      ]
    }
  ],
  "connections": {
    "Groq (Llama-3.3 70B)": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "🧠 ARIA - Ventas IA",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "⚙️ Procesar + Clasificar": {
      "main": [
        [
          {
            "index": 0,
            "node": "📤 Responder DM Instagram",
            "type": "main"
          }
        ]
      ]
    },
    "⚡ ¿Mensaje Válido?": {
      "main": [
        [
          {
            "index": 0,
            "node": "🧠 ARIA - Ventas IA",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "⏭️ Ignorar (200 OK)",
            "type": "main"
          }
        ]
      ]
    },
    "💾 Guardar/Actualizar Lead": {
      "main": [
        [
          {
            "index": 0,
            "node": "🔥 ¿Lead Caliente?",
            "type": "main"
          }
        ]
      ]
    },
    "💾 Memoria por Usuario": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "🧠 ARIA - Ventas IA",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "📤 Responder DM Instagram": {
      "main": [
        [
          {
            "index": 0,
            "node": "💾 Guardar/Actualizar Lead",
            "type": "main"
          }
        ]
      ]
    },
    "📥 Instagram Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "🔍 Extraer Mensaje",
            "type": "main"
          }
        ]
      ]
    },
    "📱 Alerta Telegram": {
      "main": [
        [
          {
            "index": 0,
            "node": "✅ Responder 200 OK",
            "type": "main"
          }
        ]
      ]
    },
    "🔍 Extraer Mensaje": {
      "main": [
        [
          {
            "index": 0,
            "node": "⚡ ¿Mensaje Válido?",
            "type": "main"
          }
        ]
      ]
    },
    "🔥 ¿Lead Caliente?": {
      "main": [
        [
          {
            "index": 0,
            "node": "📱 Alerta Telegram",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "✅ Responder 200 OK",
            "type": "main"
          }
        ]
      ]
    },
    "🧠 ARIA - Ventas IA": {
      "main": [
        [
          {
            "index": 0,
            "node": "⚙️ Procesar + Clasificar",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "60b197e0-1282-4c4e-a60d-1211212b6821",
  "activeVersionId": "60b197e0-1282-4c4e-a60d-1211212b6821",
  "versionCounter": 21,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-02T22:54:13.962Z",
      "createdAt": "2026-04-02T22:54:13.962Z",
      "role": "workflow:owner",
      "workflowId": "8Mv1OO1JTWJOHFMa",
      "projectId": "0U8gdZYNomjlLmnU",
      "project": {
        "updatedAt": "2026-03-15T22:49:54.405Z",
        "createdAt": "2026-03-15T22:43:24.325Z",
        "id": "0U8gdZYNomjlLmnU",
        "name": "sebastian De pro Agradeño <sebaagradeno@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f7d8208a-c01e-40d7-85ea-e1286474c998"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T03:15:44.468Z",
    "createdAt": "2026-04-03T03:15:38.765Z",
    "versionId": "60b197e0-1282-4c4e-a60d-1211212b6821",
    "workflowId": "8Mv1OO1JTWJOHFMa",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-dm-webhook-v2",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "ig-wh-post",
        "name": "📥 Instagram Webhook",
        "position": [
          -704,
          400
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "ig-webhook-v2"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nlet senderPsid = '';\nlet messageText = '';\nlet messageId = '';\nlet timestamp = Date.now().toString();\ntry {\n  const entry = body.entry?.[0];\n  if (entry?.messaging?.[0]) {\n    const msg = entry.messaging[0];\n    if (msg.message?.is_echo || msg.delivery || msg.read) {\n      return [{ json: { skip: true, reason: 'echo_or_system' } }];\n    }\n    senderPsid = msg.sender?.id || '';\n    messageText = msg.message?.text || '';\n    messageId = msg.message?.mid || '';\n    timestamp = msg.timestamp || timestamp;\n  }\n  if (!messageText && entry?.changes?.[0]) {\n    const change = entry.changes[0];\n    const value = change.value || {};\n    senderPsid = value.from?.id || value.sender?.id || '';\n    messageText = value.message?.text || value.text || '';\n    messageId = value.message?.mid || value.id || '';\n    timestamp = value.timestamp || timestamp;\n  }\n} catch (e) {\n  senderPsid = body.sender_id || body.from || '';\n  messageText = body.message || body.text || '';\n}\nif (!senderPsid || !messageText) {\n  return [{ json: { skip: true, reason: 'no_valid_message' } }];\n}\nreturn [{ json: { skip: false, sender_psid: senderPsid, message_text: messageText, message_id: messageId, timestamp: timestamp, source: 'instagram_dm' } }];"
        },
        "id": "ig-extract",
        "name": "🔍 Extraer Mensaje",
        "position": [
          -400,
          400
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "skip-check",
                "leftValue": "={{ $json.skip }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "boolean"
                },
                "rightValue": true
              }
            ],
            "options": {
              "caseSensitive": false
            }
          },
          "options": {}
        },
        "id": "ig-valid",
        "name": "⚡ ¿Mensaje Válido?",
        "position": [
          -96,
          400
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"status\": \"ignored\"}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "ig-ignore",
        "name": "⏭️ Ignorar (200 OK)",
        "position": [
          -96,
          704
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message_text }}",
          "options": {
            "systemMessage": "Eres ARIA, Asistente de Automatizame.uy. Trabajas con Sebastian Agradeno, fundador.\nRespondes DMs de Instagram de forma natural y profesional.\n\nREGLAS:\n1. NUNCA reveles que eres IA, bot o similar.\n2. Si preguntan si eres bot: Soy parte del equipo de Automatizame. En que te puedo ayudar?\n3. NUNCA des precios. Di: Cada proyecto es unico, Seba arma propuestas en una llamada de 30 min.\n4. NUNCA inventes datos.\n5. NO des el link de Calendly sin entender el problema primero.\n\nDATOS:\nWeb: https://automatizameuy.com\nCalendly: https://calendly.com/sebaagradeno/30min\nIG: @automatizame_uy\nUbicacion: Uruguay, atendemos LATAM y Espana\n\nSERVICIOS:\n- Automatizacion con n8n auto-hospedado\n- CRMs a medida\n- Agentes de IA para ventas y atencion\n- Contenidos con IA\n- Infraestructura Neuronal Integral\n\nESTRATEGIA:\n1. Saluda calido\n2. Pregunta sobre su negocio y problema\n3. Cuantifica lo que pierden\n4. Describe brevemente la solucion\n5. Invita a https://automatizameuy.com/ y a agendar: https://calendly.com/sebaagradeno/30min\n\nESTILO: Cercano, tuteo, mensajes CORTOS (3-4 lineas max), 1-2 emojis, solo texto plano."
          }
        },
        "id": "ig-aria",
        "name": "🧠 ARIA - Ventas IA",
        "position": [
          208,
          400
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {
            "maxTokensToSample": 400,
            "temperature": 0.6
          }
        },
        "id": "ig-groq",
        "name": "Groq (Llama-3.3 70B)",
        "position": [
          208,
          656
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "credentials": {
          "groqApi": {
            "id": "qr6uCVFF8OqWm4dd",
            "name": "Groq account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=ig_{{ $('🔍 Extraer Mensaje').item.json.sender_psid }}",
          "contextWindowLength": 20
        },
        "id": "ig-memory",
        "name": "💾 Memoria por Usuario",
        "position": [
          352,
          656
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "jsCode": "const senderPsid = $('🔍 Extraer Mensaje').first().json.sender_psid;\nconst aiResponse = $input.first().json.output || $input.first().json.text || 'Disculpa, hubo un problema.';\nlet cleanResponse = aiResponse.replace(/^(assistant|aria):\\s*/gi, '').trim();\nif (cleanResponse.length > 1000) cleanResponse = cleanResponse.substring(0, 997) + '...';\nconst msgLower = ($('🔍 Extraer Mensaje').first().json.message_text || '').toLowerCase();\nlet temperature = 'frio';\nif (msgLower.includes('agendar') || msgLower.includes('reunion')) temperature = 'listo';\nelse if (msgLower.includes('precio') || msgLower.includes('presupuesto')) temperature = 'caliente';\nelse if (msgLower.includes('necesito') || msgLower.includes('ayuda')) temperature = 'tibio';\nreturn [{ json: { sender_psid: senderPsid, response_text: cleanResponse, original_message: $('🔍 Extraer Mensaje').first().json.message_text, temperature: temperature, is_hot: (temperature === 'caliente' || temperature === 'listo'), timestamp: new Date().toISOString() } }];"
        },
        "id": "ig-process",
        "name": "⚙️ Procesar + Clasificar",
        "position": [
          512,
          400
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.instagram.com/v21.0/me/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAPqY1pS9QEBRD9M5QUDujQzOBARfHLkbdJ2oLjKp3oES8OnYI1COCU5fJhIphEHss6dYGkYuPq0ZA3EPZAl2jMu9jXXsfrZCnAXJg3DBNds4VCLhl2102LI8gTXid2tjkZC86UbpmVybPlvRns3TzmfO7UjXv2PXpxAWrbSBQkIzlVTOIP9vskXzFfzX8FmxIA3K3Y89eUiVCXJPXlqrBQ0rkMohclwxDT1TBaBKmsoQj6ALr5Oaz85nRvOP61XQZCVY3CQbdtkz7ihTnkJ5yHibZAQ9LZAsOwMQZDZD"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.sender_psid }}\" },\n  \"message\": { \"text\": {{ JSON.stringify($json.response_text) }} }\n}",
          "options": {}
        },
        "id": "ig-send",
        "name": "📤 Responder DM Instagram",
        "position": [
          752,
          400
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO ig_leads (instagram_psid, last_message, ai_response, temperature, source, created_at, updated_at)\nVALUES (\n  '{{ $json.sender_psid }}',\n  '{{ $json.original_message }}',\n  '{{ $json.response_text }}',\n  '{{ $json.temperature }}',\n  'instagram_dm', NOW(), NOW()\n)\nON CONFLICT (instagram_psid)\nDO UPDATE SET\n  last_message = EXCLUDED.last_message,\n  ai_response = EXCLUDED.ai_response,\n  temperature = EXCLUDED.temperature,\n  conversation_count = ig_leads.conversation_count + 1,\n  updated_at = NOW();",
          "options": {}
        },
        "id": "ig-save",
        "name": "💾 Guardar/Actualizar Lead",
        "position": [
          1008,
          400
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "credentials": {
          "postgres": {
            "id": "rfMpsEPaVls9DDGX",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "id": "hot-check",
                "leftValue": "={{ $json.is_hot }}",
                "operator": {
                  "operation": "equals",
                  "type": "boolean"
                },
                "rightValue": true
              }
            ],
            "options": {}
          },
          "options": {}
        },
        "id": "ig-hot",
        "name": "🔥 ¿Lead Caliente?",
        "position": [
          1264,
          400
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "chatId": "1301491979",
          "text": "=LEAD CALIENTE IG!\nDijo: {{ $json.original_message }}\nARIA: {{ $json.response_text.substring(0, 200) }}\nTemp: {{ $json.temperature }}",
          "additionalFields": {}
        },
        "id": "ig-telegram",
        "name": "📱 Alerta Telegram",
        "position": [
          1504,
          304
        ],
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "webhookId": "111a89ea-2346-43c7-b046-639331eca1c9",
        "credentials": {
          "telegramApi": {
            "id": "EMkuSuIvQQU1R3I0",
            "name": "automatizameuy"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"status\": \"ok\"}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "ig-respond-ok",
        "name": "✅ Responder 200 OK",
        "position": [
          1504,
          560
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "path": "instagram-dm-webhook-v2",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -608,
          848
        ],
        "id": "96206f5d-fb2f-4ed9-a64f-49c7456f3d8e",
        "name": "Webhook",
        "webhookId": "b02f6557-8f4e-438a-92a0-6390a67cfac7"
      }
    ],
    "connections": {
      "Groq (Llama-3.3 70B)": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "🧠 ARIA - Ventas IA",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "⚙️ Procesar + Clasificar": {
        "main": [
          [
            {
              "index": 0,
              "node": "📤 Responder DM Instagram",
              "type": "main"
            }
          ]
        ]
      },
      "⚡ ¿Mensaje Válido?": {
        "main": [
          [
            {
              "index": 0,
              "node": "🧠 ARIA - Ventas IA",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "⏭️ Ignorar (200 OK)",
              "type": "main"
            }
          ]
        ]
      },
      "💾 Guardar/Actualizar Lead": {
        "main": [
          [
            {
              "index": 0,
              "node": "🔥 ¿Lead Caliente?",
              "type": "main"
            }
          ]
        ]
      },
      "💾 Memoria por Usuario": {
        "ai_memory": [
          [
            {
              "index": 0,
              "node": "🧠 ARIA - Ventas IA",
              "type": "ai_memory"
            }
          ]
        ]
      },
      "📤 Responder DM Instagram": {
        "main": [
          [
            {
              "index": 0,
              "node": "💾 Guardar/Actualizar Lead",
              "type": "main"
            }
          ]
        ]
      },
      "📥 Instagram Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "🔍 Extraer Mensaje",
              "type": "main"
            }
          ]
        ]
      },
      "📱 Alerta Telegram": {
        "main": [
          [
            {
              "index": 0,
              "node": "✅ Responder 200 OK",
              "type": "main"
            }
          ]
        ]
      },
      "🔍 Extraer Mensaje": {
        "main": [
          [
            {
              "index": 0,
              "node": "⚡ ¿Mensaje Válido?",
              "type": "main"
            }
          ]
        ]
      },
      "🔥 ¿Lead Caliente?": {
        "main": [
          [
            {
              "index": 0,
              "node": "📱 Alerta Telegram",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "✅ Responder 200 OK",
              "type": "main"
            }
          ]
        ]
      },
      "🧠 ARIA - Ventas IA": {
        "main": [
          [
            {
              "index": 0,
              "node": "⚙️ Procesar + Clasificar",
              "type": "main"
            }
          ]
        ]
      }
    },
    "authors": "sebastian De pro Agradeño",
    "name": "Version 60b197e0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T03:15:44.466Z",
        "id": 241,
        "workflowId": "8Mv1OO1JTWJOHFMa",
        "versionId": "60b197e0-1282-4c4e-a60d-1211212b6821",
        "event": "activated",
        "userId": "f7d8208a-c01e-40d7-85ea-e1286474c998"
      }
    ]
  }
}